{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div>
        <p>This is <strong>Rango's about page</strong><br />
        You've visited this site on <strong>{{ visits }} occasion(s)</strong><br />
        Here's a picture of Rango<br/></p>

        <img src="{% static "images/Rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
    </div>
{% endblock %}
